@import "variables";
@import "mixins";

.b-error {
	text-align: center;

	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 280px;
	margin: 0 auto;
}

.b-error__code {
	font-size: 70px;
	color: #666d80;
	margin-bottom: 0;
	line-height: 1;
}

.b-error__caption {
	text-transform: uppercase;
	color: #666d80;
	margin-bottom: 10px;
}

.b-error__title {
	font-size: 21px;
	line-height: 25px;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 10px;
}

.b-error__text {
	color: #ffffff;
	margin-bottom: 0;
}

.b-error__button {
	border: 1px solid #303646;
	border-radius: 3px;
	background-color: #394053;

	align-self: center;

	color: #ffffff;
	text-transform: uppercase;

	display: inline-block;
	padding: 9px 15px;
	margin-top: 15px;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #fff;
	}
}
