@import "variables";
@import "mixins";

.b-navbar-desktop {
	margin-bottom: 26px;
	text-transform: uppercase;
	margin-left: -40px;
	margin-right: -40px;
	padding-left: 40px - 10px - 15px;
	padding-right: 40px - 15px;

	.nav > li > a {
		padding: 20px 15px;
	}
}

.b-navbar-desktop.navbar-inverse {
	.navbar-nav {
		li:not(:last-child) {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 15px;
				bottom: 15px;
				right: 0;
				width: 1px;

				background: #e0e0e0;
			}
		}
	}
}

.b-navbar-desktop_light {
	border-color: #071d49;
	background-color: #071d49;

	//position: absolute;
	//top: 30px;
	//left: 0;
	//right: 0;
	//color: #ffffff;

	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	.navbar-nav > li > a, .navbar-text {
		color: #c1c3c5;
	}

	.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
		color: #fff;
	}
	.navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover {
		color: #fff;
	}

	.navbar-nav > li:not(:last-child):after {
		background: #162d5c !important;
		//border-right: 1px solid rgba(255, 255, 255, .33) !important;
	}
	.nav > li > a {
		//padding: 5px 15px;
	}

	.open .dropdown-menu {
		background-color: @navbar-default-bg;

		> li:after {
			display: none !important;
		}

		> li > a {
			color: @navbar-default-link-color;
			&:hover,
			&:focus {
				color: @navbar-default-link-hover-color;
				background-color: @navbar-default-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-active-color;
				background-color: @navbar-default-link-active-bg;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: @navbar-default-link-disabled-color;
				background-color: @navbar-default-link-disabled-bg;
			}
		}
	}

	.dropdown-menu {
		padding: 0;
		min-width: 300px;

		> li > a {
			white-space: normal;
			color: #fff;
			text-transform: none;
		}
		> li > a {
			border-top: 1px solid #040f26 !important;
		}
		> li:first-child > a {
			border-top: none !important;
		}
	}

	.dropdown-menu .dropdown-header, .dropdown-menu > li > a {
		padding: 10px 20px;
	}

	.caret {
		border: none;
		background: left top no-repeat url("../../assets/img/menu-caret.png");
		width: 11px;
		height: 7px;
	}

	.dropdown.open > a {
		.caret {
			transform: rotate(180deg);
		}
	}
}
