@import "variables";
@import "mixins";

.b-news-item {
	margin-bottom: 15px;
}

.b-news-item__date {
	margin-bottom: 15px;
}

.b-news-item__title {
	font-size: 21px;
	line-height: 25px;
	margin-bottom: 15px;
}

.b-news-item__text {
	img {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.b-news-item__image {
	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;
}