@import "variables";
@import "mixins";

.b-vacancies {
	margin-top: 30px;
	margin-bottom: 35px;
}

.b-vacancies__list {

}

.b-vacancies__item {
	margin-bottom: 20px;
}

.b-vacancies__title {
	color: #ffffff;
	background: #071d49;
	padding: 10px 20px;
	margin-bottom: 0;
}

.b-vacancies__text {
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-top: none;
	padding: 15px 20px 5px;
}

@media (min-width: @screen-sm-min) {
	.b-vacancies__title {
		font-size: 21px;
		line-height: 25px;
		padding: 15px 20px;
	}

	.b-structure__item_arrow {
		background-size: 298px 30px;
	}
}

@media print {
	.b-vacancies__title {
		color: #000 !important;
		background: none !important;
		padding: 0 0 15px !important;
		font-size: 1.2em;
	}

	.b-vacancies__text {
		background: none !important;
		border: none !important;
		padding: 0 !important;
	}
}