@import "variables";
@import "mixins";

.b-splash-vacancies {
	text-align: center;
	background: linear-gradient(to left, #fafafa, #e6e6e6, #fafafa);
	padding: 30px 0 0;
	margin-bottom: 35px;
}

.b-splash-vacancies__item {
	display: block;
	margin: 0 30px 40px;
	background: #ffffff;
	border: 2px solid #0d3380;
	padding-bottom: 30px;
	color: @text-color;

	position: relative;
	text-decoration: none !important;

	&:hover, &:active, &:focus {
		color: @text-color;
		border-color: #134cbf;

		&:before, &:after {
			border-color: #134cbf;
		}
	}

	&:before {
		position: absolute;
		top: 22px;
		bottom: 22px;
		left: -22px;
		width: 22px;
		background: #ffffff;
		border: 2px solid #0d3380;
		border-right-width: 0;
		content: '';
	}
	&:after {
		position: absolute;
		top: 22px;
		bottom: 22px;
		right: -22px;
		width: 22px;
		background: #ffffff;
		border: 2px solid #0d3380;
		border-left-width: 0;
		//border-left-color: #fff;
		content: '';
	}
}

.b-splash-vacancies__image {
	margin-top: -53px;

}

.b-splash-vacancies__title {
	font-size: 28px;
	font-weight: 600;
	color: #000000;
	margin-top: 0;
	margin-bottom: 8px;
}

.b-splash-vacancies__text {
}