@import "variables";
@import "mixins";

.b-case {

}

.b-case__title {
	margin-bottom: 10px;
	font-size: 21px;
	line-height: 1.2;
}

.b-case__tags {
	margin-top: 15px;
	margin-bottom: 20px;
}

.b-case__author {
	margin-top: 20px;
	margin-bottom: 15px;
}

.b-case__text {
	margin-top: 15px;
	margin-bottom: 15px;
}

.b-case__categories {
	margin-top: 15px;
	margin-bottom: -@modal-inner-padding;
}

@media (min-width: @screen-sm-min) {
	.b-case__categories {
		margin-top: 25px;
	}
}
