@import "variables";
@import "mixins";

.b-facts {
	display: flex;
	flex-wrap: wrap;
	margin: 20px -@grid-gutter-width 5px;
}

.b-facts__item {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;

	padding: 0 @grid-gutter-width;

	flex-basis: 100%/1;
}

@screen-phablet-horizontal: 667px;

@media (min-width: @screen-phablet-horizontal) {
	.b-facts__item {
		flex-basis: 100%/2;
	}
}

.b-facts__title {
	color: #071d49;
	font-size: 35px;
	line-height: 70px;

	big {
		font-size: 70px;
	}
}

.b-facts__caption {
	text-transform: uppercase;
	color: #071d49;
	margin-top: -13px;
}

.b-facts__text {
	margin-top: 12px;
	color: @text-muted;
}
