@import "variables";
@import "mixins";

.b-news-date {
	background: left top 5px no-repeat url("../../assets/img/calendar.svg");
	padding-left: 28px;

	font-size: 11px;
	color: #999999;
	line-height: 12px;
	.clearfix();
}

.modal-header {
	.b-news-date {
		color: #838ea4;
		background-image: url("../../assets/img/calendar_modal.svg");
	}
	.b-news-date__month, .b-news-date__year {
		color: #838ea4;
	}
}

.b-news-date__number {
	font-size: 28px;
	line-height: 1;
	float: left;
	display: inline-block;
	padding-top: 1px;
}

.b-news-date__month {
	margin-left: 6px;
	line-height: 14px;
	padding-top: 2px;
	display: inline-block;
	color: #808080;
}

.b-news-date__year {
	margin-left: 6px;
	display: inline-block;
	color: #808080;
}

.modal-header .b-news-date {
	margin-top: 4px;
}
