@import "variables";
@import "mixins";

.b-case-author {
	position: relative;
	padding-bottom: 15px;

	&:after {
		width: 100px;
		height: 2px;
		background: #6f4c3a;

		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -50px;
		content: '';
	}
}

.b-case-author__image {
	float: left;
	width: 50px;
}

.b-case-author__name {
	margin-left: 70px;
	font-size: 16px;
	line-height: 20px;
	color: #212121;
	margin-bottom: 5px;
}

.b-case-author__text {
	margin-left: 70px;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
}

@media (min-width: @screen-sm-min) {
	.b-case-author {
		padding-bottom: 20px - 2px;
	}

	.b-case-author__image {
		width: 100px;
	}

	.b-case-author__name, .b-case-author__text {
		margin-left: 110px;
	}
}
