extends ./layouts/layout.jade

block content
    .hidden-xs
        h1 О фирме
    .visible-xs
        h1 Информация о фирме

    .hidden-xs
        .b-tabs
            ul.nav.nav-tabs
                li.active(role='presentation'): a(href='about.html') Информация
                li(role='presentation'): a(href='peoples.html') Высший состав
                li(role='presentation'): a(href='structure.html') Устройство
                li(role='presentation'): a(href='achievements.html') Достижения

    .b-text.b-text__big
        img.img-responsive(src='http://placehold.it/844x476')
        h5 Что такое Alliance Legal Consulting Group?
        p Alliance Legal Consulting Group («Консалтинговая группа «Правовой Альянс») — российская национальная юридическая фирма с офисами в Москве, Екатеринбурге и представительством в Дубае.
        h5 Легенда появления, чем мы отличаемся от других
        p Юридическая фирма учреждена группой партнёров, накопивших и систематизировавших колоссальный опыт правовой работы. Партнёры фирмы осуществляли консультирование крупных инвестиционных и девелоперских проектов, принимали участие в значимых корпоративных и имущественных конфликтах, занимали руководящие позиции в системе Министерства внутренних дел РФ и Министерства юстиции РФ. Объединение опыта и экспертизы партнёров сформировало основу для создания юридической фирмы, обладающей значительными ресурсами и безупречной репутацией.
        h5 На чем специализируется Alliance Legal Consulting Group?
        p Юридическая фирма специализируется на правовой защите интересов корпоративных клиентов и частных лиц в рамках российского и международного законодательства. География офисов и всесторонний опыт юристов позволяют предоставлять клиентам единое правовое пространство для решения задач различной категории сложности в сфере экономики.
        h5 Практики
        p Девять областей юридической практики отражают полный спектр потребностей клиентов и позволяют поддерживать высокий уровень оказания юридических услуг, соответствующий российским и иностранным стандартам решения правовых задач, направленный на достижение конкретного финансового результата для клиента.
        h5 Какие задачи мы перед собой ставим?
        p Задача Alliance Legal Consulting Group — достижение максимального финансового результата для клиента в рамках каждого поручения. Данный подход предполагает синергетическое объединение профессионалов с образованием и опытом в таких областях, как юриспруденция, финансы, недвижимость, экономическая безопасность.
        h5 Почему стоит обратиться именно к нам
        p Ответ на вопрос что получит клиент, обратившись сюда и почему это лучше, чем у других. Здесь стоит развеять сомнения и опасения потенциального клиента.

