extends ./layouts/layout.jade
block content
    .hidden-xs
        h1 О фирме
    .visible-xs.text-center
        h1 Достижения фирмы

    .hidden-xs
        .b-tabs
            ul.nav.nav-tabs
                li(role='presentation'): a(href='about.html') Информация
                li(role='presentation'): a(href='peoples.html') Высший состав
                li(role='presentation'): a(href='structure.html') Устройство
                li.active(role='presentation'): a(href='achievements.html') Достижения

    .text-center
        h5 Рейтинги
        p Объективным критерием достижений является признание профессиональным сообществом

        .b-reviews
            a.b-reviews__item(href='#')
                .b-reviews__image
                    img.img-responsive(src='http://placehold.it/100x80',alt='')
                p.b-reviews__title Право.ru-300 2017
                .b-reviews__text
                    p Антимонопольное право
                    p Арбитражное судопроизводство
                    p Банкротство
                    p Коммерческая недвижимость / Строительство
                    p Финансовое / Банковское право
            a.b-reviews__item(href='#')
                .b-reviews__image
                    img.img-responsive(src='http://placehold.it/100x30',alt='')
                p.b-reviews__title Best Lawyers 2017
                .b-reviews__text
                    p Альберт Еганян, Партнер, председатель Совета партнеров, рекомендован в категориях «Инвестиции», «Проектное финансирование и развитие»
            a.b-reviews__item(href='#')
                .b-reviews__image
                    img.img-responsive(src='http://placehold.it/100x200',alt='')
                p.b-reviews__title Право.ru-300 2017
                .b-reviews__text
                    p Антимонопольное право
                    p Коммерческая недвижимость / Строительство
                    p Финансовое / Банковское право

        .b-rating
            .b-rating__item
                .b-rating__place
                    p.b-rating__number 4
                    p.b-rating__caption место

                a.b-rating__title(href='#') «Legal-practice.ru»
                .b-rating__text
                    p Топ-5 ведущих юридических фирм, практикующих на территории Российской Федерации в категории «Уголовная практика» 2016
            .b-rating__item
                .b-rating__place
                    p.b-rating__number 38
                    p.b-rating__caption место

                a.b-rating__title(href='#') «Коммерсант»
                .b-rating__text
                    p Топ-50 юридических фирм по размеру выручки от оказания юридических услуг на территории Российской Федерации 2016

        h5 Факты и цифры
        .b-facts
            .b-facts__item
                .b-facts__title #[big 87%]
                p.b-facts__caption Выйгранных дел
                .b-facts__text
                    p Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.
            .b-facts__item
                .b-facts__title > #[big 4] млрд руб
                p.b-facts__caption Сумма проектов
                .b-facts__text
                    p Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.
            .b-facts__item
                .b-facts__title #[big 485]
                p.b-facts__caption Юридических услуг
                .b-facts__text
                    p Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.
            .b-facts__item
                .b-facts__title #[big 9]
                p.b-facts__caption Практик
                .b-facts__text
                    p Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.
