extends ./layouts/layout.jade
block content
    h1 Контакты

    .b-places
        .b-places__item
            .b-places__card
                .b-places__image.b-places__image_1
                p.b-places__title Москва
                a.b-places__link(data-toggle="modal" data-target="#modal_map_1") Показать на карте
            .b-places__content
                i.text-muted Адрес:
                p 125047, 1-й Тверской-Ямской переулок, дом 18, 3 этаж, оф. 325
                i.text-muted Приемная:
                p +7 (499) 678-01-20
                i.text-muted Юридический офис:
                p +7 (499) 678-01-30
                i.text-muted E-mail:
                p msk@alcg.ru
        .b-places__item
            .b-places__card
                .b-places__image.b-places__image_2
                p.b-places__title Екатеринбург
                a.b-places__link(data-toggle="modal" data-target="#modal_map_2") Показать на карте
            .b-places__content
                i.text-muted Адрес:
                p 620144, ул. Шейнкмана, дом 121, 3 этаж (БЦ "Антарес-бизнес")
                i.text-muted Приемная:
                p +7 (343) 286-70-53
                i.text-muted E-mail:
                p ekb@alcg.ru
        .b-places__item
            .b-places__card
                .b-places__image.b-places__image_3
                p.b-places__title Дубай
                a.b-places__link(data-toggle="modal" data-target="#modal_map_1") Показать на карте
            .b-places__content
                i.text-muted Адрес:
                p P. O. Box 392897, Al Manara Tower, Office 1904, Burj Khalifa Area, Dubai - UAE
                i.text-muted Телефон:
                p +971 4 321 9 321
                i.text-muted Факс:
                p +971 4 321 9 201
                i.text-muted E-mail:
                p dub@alcg.ru

block modals
    // Modal
    #modal_map_1.modal.modal_big(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        h4.modal-title.text-center ALCG Москва
                .modal-body
                    .b-map
                        p.b-map__title ALCG Москва
                        .b-map__map#map_1

                        script(type='text/javascript',src='https://api-maps.yandex.ru/2.1/?load=package.standard\&lang=ru_RU')
                        script(type='text/javascript').
                            ymaps.ready(function () {
                                var myMap = new ymaps.Map("map_1", {
                                    center: [56.821218, 60.612476],
                                    zoom: 16
                                });

                                var myPlacemark = new ymaps.Placemark([56.821218, 60.612476], {}, {});

                                myMap.geoObjects.add(myPlacemark);
                            });

    // Modal
    #modal_map_2.modal.modal_big(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        h4.modal-title.text-center ALCG Екатеринбург
                .modal-body
                    .b-map
                        p.b-map__title ALCG Екатеринбург
                        .b-map__map#map_2

                        script(type='text/javascript',src='https://api-maps.yandex.ru/2.1/?load=package.standard\&lang=ru_RU')
                        script(type='text/javascript').
                            ymaps.ready(function () {
                                var myMap = new ymaps.Map("map_2", {
                                    center: [60.821218, 61.612476],
                                    zoom: 16
                                });

                                var myPlacemark = new ymaps.Placemark([56.821218, 60.612476], {}, {});

                                myMap.geoObjects.add(myPlacemark);
                            });
