doctype html
html
    include ./includes/head.jade
    body.g-bg-light
        include ./includes/header_splash.jade
        include ./includes/navbar_desktop_splash.jade

        .b-splash-jumbotron
            .b-splash-jumbotron__logo

            .b-splash-slider
                .b-splash-slider__item
                    .b-splash-slider__image(style='background-image: url(assets/img/splash-slider/1.jpg);')
                    .b-splash-slider__content
                        .b-splash-slider__title Сопровождением сделок и инвестиционных проектов
                        .b-splash-slider__text Применяем лучшие практики для защиты интересов клиентов
                .b-splash-slider__item
                    .b-splash-slider__image(style='background-image: url(assets/img/splash-slider/2.jpg);')
                    .b-splash-slider__content
                        .b-splash-slider__title Разрешение споров
                        .b-splash-slider__text Безупречное исполнение для превосходства клиентов
                .b-splash-slider__item
                    .b-splash-slider__image(style='background-image: url(assets/img/splash-slider/3.jpg);')
                    .b-splash-slider__content
                        .b-splash-slider__title Уголовно-правовая защита бизнеса
                        .b-splash-slider__text Акулы права

        .b-splash-page.hidden-xs.g-mt30
            .container
                .row
                    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
                        .b-text
                            h1.text-center О фирме
                            p Alliance Legal Consulting Group («Консалтинговая группа «Правовой Альянс») — российская национальная юридическая фирма с офисами в Москве, Екатеринбурге и представительством в Дубае.
                .b-splash-blocks
                    .row
                        .col-xs-6.col-lg-3
                            .b-splash-blocks__item
                                a.b-splash-blocks__link(href='about.html') Краткие сведения
                                .b-splash-blocks__text
                                    p Фирма объединила специалистов в области юриспруденции, финансов и экономической безопасности для предоставления качественного сервиса клиентам.
                        .col-xs-6.col-lg-3
                            .b-splash-blocks__item
                                a.b-splash-blocks__link(href='peoples.html') Высший состав
                                .b-splash-blocks__text
                                    p Юридическая фирма учреждена на основании принципа партнёрства сильных юристов, каждый из которых принёс собственный опыт, налаженные деловые связи, творческий подход к решению задач клиентов.
                        .col-xs-6.col-lg-3
                            .b-splash-blocks__item
                                a.b-splash-blocks__link(href='structure.html') Устройство фирмы
                                .b-splash-blocks__text
                                    p Научно-консультационный совет фирмы — уникальный и единственный в своем роде на российском рынке юридических услуг орган, учрежден с целью повышения эффективности защиты интересов клиентов.
                        .col-xs-6.col-lg-3
                            .b-splash-blocks__item
                                a.b-splash-blocks__link(href='achievements.html') Достижения
                                .b-splash-blocks__text
                                    p ПНФирма объединила специалистов в области юриспруденции, финансов и экономической безопасности для предоставления качественного сервиса клиентам.
                .row
                    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
                        .b-text
                            h1.text-center Практики и услуги
                            p Девять областей юридической практики отражают полный спектр потребностей клиентов и позволяют поддерживать высокий уровень оказания юридических услуг, соответствующий российским и иностранным стандартам решения правовых задач, направленный на достижение конкретного финансового результата для клиента.
            .b-splash-categories
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика корпоративного права
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Практика строится на основании экспертизы юристов и консультантов с опытом в различных областях законодательства и глубокими отраслевыми знаниями. Для комплексного и эффективного решения задач клиентов к работе привлекаются специалисты в сфере экономики, финансов и оценки, обладающие опытом научной и практической деятельности.
                    a.b-splash-categories__link(href='tabs.html') 54 успешных дела
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика разрешения споров
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Практика разрешения споров является одной из ключевых и системообразующей в деятельности Alliance Legal CG. За услугами фирмы обратилось несколько сотен клиентов: от локальных частных предприятий до трансконтинентальных акционерных компаний. Юристы фирмы осуществили более ста комплексных проектов по разрешению споров в внесудебном порядке и арбитражном судопроизводстве.
                    a.b-splash-categories__link(href='tabs.html') 39 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика финансового права и управления активами
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Практика включает несколько направлений, вместе образующих широкий инструментарий управления процессами движения капитала. В части проектов фирма участвует самостоятельно, осуществляя капиталовложение и оздоровление предприятий. Наш подход формирует атмосферу доверия между фирмой и клиентом, предполагающую прямую заинтересованность в успехе проекта.
                    a.b-splash-categories__link(href='tabs.html') 102 успешных дела
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика уголовного права
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p В рамках практики адвокаты и юристы фирмы осуществляют как защиту интересов клиентов, в отношении которых производится уголовное судопроизводство, так и защиту корпоративных клиентов по факту нарушения уголовного законодательства сотрудниками и контрагентами.
                    a.b-splash-categories__link(href='tabs.html') 5 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика сопровождения банкротств
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Приоритетом практики сопровождения банкротств является соблюдение интересов клиента с целью сохранения его финансовых активов и имущества. Фирма обладает опытом сопровождения крупных проектов, в рамках которых были осуществлены процедуры банкротства групп юридических лиц, итогом которых стало возвращение клиентам денежных средств.
                    a.b-splash-categories__link(href='tabs.html') 16 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика уголовного права
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p В рамках практики адвокаты и юристы фирмы осуществляют как защиту интересов клиентов, в отношении которых производится уголовное судопроизводство, так и защиту корпоративных клиентов по факту нарушения уголовного законодательства сотрудниками и контрагентами.
                    a.b-splash-categories__link(href='tabs.html') 5 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика сопровождения банкротств
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Приоритетом практики сопровождения банкротств является соблюдение интересов клиента с целью сохранения его финансовых активов и имущества. Фирма обладает опытом сопровождения крупных проектов, в рамках которых были осуществлены процедуры банкротства групп юридических лиц, итогом которых стало возвращение клиентам денежных средств.
                    a.b-splash-categories__link(href='tabs.html') 16 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика уголовного права
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p В рамках практики адвокаты и юристы фирмы осуществляют как защиту интересов клиентов, в отношении которых производится уголовное судопроизводство, так и защиту корпоративных клиентов по факту нарушения уголовного законодательства сотрудниками и контрагентами.
                    a.b-splash-categories__link(href='tabs.html') 5 успешных дел
                .b-splash-categories__item(data-href='tabs.html')
                    p.b-splash-categories__title Практика сопровождения банкротств
                    a.b-splash-categories__button(href='tabs.html') Посмотреть список услуг
                    .b-splash-categories__text
                        p Приоритетом практики сопровождения банкротств является соблюдение интересов клиента с целью сохранения его финансовых активов и имущества. Фирма обладает опытом сопровождения крупных проектов, в рамках которых были осуществлены процедуры банкротства групп юридических лиц, итогом которых стало возвращение клиентам денежных средств.
                    a.b-splash-categories__link(href='tabs.html') 16 успешных дел
            .container
                .text-center
                    h1 Пресс-центр

                .b-news.g-mb40
                    .b-news__list
                        .row
                            .col-sm-4
                                .b-news__item
                                    .b-news__date.b-news-date
                                        span.b-news-date__number 19
                                        span.b-news-date__month Июля
                                        br
                                        span.b-news-date__year 2016
                                    a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                                    .b-news__text
                                        p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
                            .col-sm-4
                                .b-news__item
                                    .b-news__date.b-news-date
                                        span.b-news-date__number 2
                                        span.b-news-date__month Декабря
                                        br
                                        span.b-news-date__year 2016
                                    a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                                    .b-news__text
                                        p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
                            .col-sm-4
                                .b-news__item
                                    .b-news__date.b-news-date
                                        span.b-news-date__number 19
                                        span.b-news-date__month Июля
                                        br
                                        span.b-news-date__year 2016
                                    a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                                    .b-news__text
                                        p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.

                    .text-center
                        a.btn.btn-default.b-news__button(href='news.html') Смотреть все новости пресс-центра
            .b-splash-vacancies
                .container
                    h1 Карьера

                    .row
                        .col-xs-6
                            a.b-splash-vacancies__item(href='vacancies.html')
                                img.img-circle.b-splash-vacancies__image(src='assets/img/splash-vacancies-image-1.jpg')

                                p.b-splash-vacancies__title Вакансии
                                .b-splash-vacancies__text
                                    p Alliance Legal CG дает возможность молодым и нацеленным на успех будущим юристам начать свою карьеру еще в период учебы.
                        .col-xs-6
                            a.b-splash-vacancies__item(href='vacancies.html')
                                img.img-circle.b-splash-vacancies__image(src='assets/img/splash-vacancies-image-2.jpg')

                                p.b-splash-vacancies__title Стажировка
                                .b-splash-vacancies__text
                                    p Alliance Legal CG дает возможность молодым и нацеленным на успех будущим юристам начать свою карьеру еще в период учебы.
            .container
                .row
                    .col-xs-12.col-xs-offset-0.col-md-8.col-md-offset-2
                        .b-text
                            .text-center
                                h1 Контакты

                            p Присутствие в двух крупных городах России — Москве и Екатеринбурге — и крупнейшем финансовом центре мира — Дубае (ОАЭ) — позволяет предоставлять клиентам единое географическое пространство с учётом возможностей российского и международного права. При реализации крупных российских или трансграничных проектов широкий правовой фокус является залогом выбора лучших решений для максимизации прибыли от сделок и повышения экономической безопасности проектов.

                        .b-places.g-mt30
                            .b-places__item
                                .b-places__card
                                    .b-places__image.b-places__image_1
                                    p.b-places__title Москва
                                    a.b-places__link(data-toggle="modal" data-target="#modal_map_1") Показать на карте
                                .b-places__content
                                    i.text-muted Адрес:
                                    p 125047, 1-й Тверской-Ямской переулок, дом 18, 3 этаж, оф. 325
                                    i.text-muted Приемная:
                                    p +7 (499) 678-01-20
                                    i.text-muted Юридический офис:
                                    p +7 (499) 678-01-30
                                    i.text-muted E-mail:
                                    p msk@alcg.ru
                            .b-places__item
                                .b-places__card
                                    .b-places__image.b-places__image_2
                                    p.b-places__title Екатеринбург
                                    a.b-places__link(data-toggle="modal" data-target="#modal_map_2") Показать на карте
                                .b-places__content
                                    i.text-muted Адрес:
                                    p 620144, ул. Шейнкмана, дом 121, 3 этаж (БЦ "Антарес-бизнес")
                                    i.text-muted Приемная:
                                    p +7 (343) 286-70-53
                                    i.text-muted E-mail:
                                    p ekb@alcg.ru
                            .b-places__item
                                .b-places__card
                                    .b-places__image.b-places__image_3
                                    p.b-places__title Дубай
                                    a.b-places__link(data-toggle="modal" data-target="#modal_map_1") Показать на карте
                                .b-places__content
                                    i.text-muted Адрес:
                                    p P. O. Box 392897, Al Manara Tower, Office 1904, Burj Khalifa Area, Dubai - UAE
                                    i.text-muted Телефон:
                                    p +971 4 321 9 321
                                    i.text-muted Факс:
                                    p +971 4 321 9 201
                                    i.text-muted E-mail:
                                    p dub@alcg.ru
            .container
                include ./includes/footer.jade
    // Modal
    #modal_news_1.modal(tabindex='-1', role='dialog', aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        .b-news-date
                            span.b-news-date__number 19
                            span.b-news-date__month Июля
                            br
                            span.b-news-date__year 2016
                .modal-body
                    a.b-print.pull-right.hidden-xs(href='#')
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z" />
                        </svg>
                    .b-news-item
                        .visible-xs
                            .b-news-item__date.b-news-date
                                span.b-news-date__number 19
                                span.b-news-date__month Июля
                                br
                                span.b-news-date__year 2016

                        h1.b-news-item__title Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов

                        .b-news-item__text.b-text
                            .b-news-item__image
                                img(src='http://placehold.it/667x375')
                            p Кодекс, имеющий статус нормативного акта, разработан Федеральной нотариальной палатой совместно с Минюстом России с учетом требований Федерального закона № 457-ФЗ от 29 декабря 2014 года, а также международных стандартов латинского нотариата.
                            .b-news-item__image
                                img(src='http://placehold.it/667x375')
                            p Кодексом установлено единое определение дисциплинарного проступка и полный перечень возможных противоправных действий нотариуса. Впервые Кодекс определяет порядок рассмотрения дисциплинарных дел, а также разграничивает их подведомственность между судом и дисциплинарной комиссией.

    // Modal
    #modal_map_1.modal.modal_big(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        h4.modal-title.text-center ALCG Москва
                .modal-body
                    .b-map
                        p.b-map__title ALCG Москва
                        .b-map__map#map_1
                        script(type='text/javascript',src='https://api-maps.yandex.ru/2.1/?load=package.standard\&lang=ru_RU')
                        script(type='text/javascript').
                            ymaps.ready(function () {
                                var myMap = new ymaps.Map("map_1", {
                                    center: [56.821218, 60.612476],
                                    zoom: 16
                                });
                                var myPlacemark = new ymaps.Placemark([56.821218, 60.612476], {}, {});
                                myMap.geoObjects.add(myPlacemark);
                            });
