extends ./layouts/layout.jade
block content
    h1 Пресс-центр

    .b-filter.g-mt10
        a.b-filter__item.b-filter__item_active(href='#') 2016
        a.b-filter__item(href='#') 2015
        a.b-filter__item(href='#') 2014
        a.b-filter__item(href='#') 2013
        a.b-filter__item(href='#') 2012
    .b-news
        .b-news__list
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 19
                    span.b-news-date__month Июля
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 2
                    span.b-news-date__month Декабря
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 19
                    span.b-news-date__month Июля
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 19
                    span.b-news-date__month Июля
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 19
                    span.b-news-date__month Июля
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.
            .b-news__item
                .b-news__date.b-news-date
                    span.b-news-date__number 19
                    span.b-news-date__month Июля
                    br
                    span.b-news-date__year 2016
                a.b-news__title(data-toggle="modal" href="#modal_news_1") Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов
                .b-news__text
                    p Кодексом проф. этики впервые определен круг дисциплинарных проступков нотариусов.

block modals
    // Modal
    #modal_news_1.modal(tabindex='-1', role='dialog', aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        .b-news-date
                            span.b-news-date__number 19
                            span.b-news-date__month Июля
                            br
                            span.b-news-date__year 2016
                .modal-body
                    a.b-print.pull-right.hidden-xs(href='#')
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z" />
                        </svg>
                    .b-news-item
                        .visible-xs
                            .b-news-item__date.b-news-date
                                span.b-news-date__number 19
                                span.b-news-date__month Июля
                                br
                                span.b-news-date__year 2016

                        h1.b-news-item__title Нотариат и Минюст приняли Кодекс профессиональной этики нотариусов

                        .b-news-item__text.b-text
                            .b-news-item__image
                                img(src='http://placehold.it/667x375')
                            p Кодекс, имеющий статус нормативного акта, разработан Федеральной нотариальной палатой совместно с Минюстом России с учетом требований Федерального закона № 457-ФЗ от 29 декабря 2014 года, а также международных стандартов латинского нотариата.
                            .b-news-item__image
                                img(src='http://placehold.it/667x375')
                            p Кодексом установлено единое определение дисциплинарного проступка и полный перечень возможных противоправных действий нотариуса. Впервые Кодекс определяет порядок рассмотрения дисциплинарных дел, а также разграничивает их подведомственность между судом и дисциплинарной комиссией.
