extends ./layouts/layout.jade
block content
    .hidden-xs
        h1 О фирме
    .visible-xs
        h1 Высший состав фирмы

    .hidden-xs
        .b-tabs
            ul.nav.nav-tabs
                li(role='presentation'): a(href='about.html') Информация
                li.active(role='presentation'): a(href='peoples.html') Высший состав
                li(role='presentation'): a(href='structure.html') Устройство
                li(role='presentation'): a(href='achievements.html') Достижения

    .b-peoples
        h5.b-peoples__title Подзаголовок
        .b-peoples__text
            p Подзаголовок и описание выводятся только в случае наполнения соответствующих полей. Если не будут созданы группы и не будет заполнена иформация для подзаголовков и описания, все карточки будут выведены единым списком.

        .b-peoples__list
            each people in peoples_1
                .b-peoples__item
                    a.b-peoples__card(data-toggle="modal" href="#modal_people_1")
                        .b-peoples__image
                            img.img-responsive(src='assets/img/peoples/#{people.image}', alt='...')
                            p.b-peoples__name #{people.name}
                        .b-peoples__caption #{people.caption}

    .b-peoples
        h5.b-peoples__title Подзаголовок
        .b-peoples__text
            p Подзаголовок и описание выводятся только в случае наполнения соответствующих полей. Если не будут созданы группы и не будет заполнена иформация для подзаголовков и описания, все карточки будут выведены единым списком.

        .b-peoples__list
            each people in peoples_2
                .b-peoples__item
                    a.b-peoples__card(data-toggle="modal" href="#modal_people_1")
                        .b-peoples__image
                            img.img-responsive(src='assets/img/peoples/#{people.image}', alt='...')
                            p.b-peoples__name #{people.name}
                        .b-peoples__caption #{people.caption}

block modals
    // Modal
    #modal_people_1.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                    .hidden-xs
                        h4.modal-title Подзаголовок
                .modal-body
                    a.b-print.b-print_modal.hidden-xs(href='#')
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z" />
                        </svg>
                    .b-people
                        .b-people__card
                            .b-people__image
                                img.img-responsive(src='http://placehold.it/374')
                            .b-people__content
                                p.b-people__name Бормашенко Марина Юрьевна
                                p.b-people__caption Советник, руководитель практики земельного, градостроительного права и имущественных отношений
                        .b-people__text
                            p Имеет диплом Уральской государственной юридической академии. До прихода в компанию работала в исполнительных органах государственной власти и органах местного самоуправления. Является высококвалифицированным специалистом в вопросах регулирования земельных правоотношений, управления государственным и муниципальным имуществом, правового регулирования сферы ЖКХ, архитектуры и градостроительной деятельности.
                            p В настоящее время Бормашенко Марина консультирует клиентов и курирует деятельность компании (в том числе, судебную практику) в сфере земельного, градостроительного и муниципального права, отвечает за юридическое сопровождение инвестиционных проектов в сфере недвижимости и строительства.

