extends ./layouts/layout.jade
block content
    .hidden-xs
        h1 О фирме
    .visible-xs.text-center
        h1 Устройство фирмы

    .hidden-xs
        .b-tabs
            ul.nav.nav-tabs
                li(role='presentation'): a(href='about.html') Информация
                li(role='presentation'): a(href='peoples.html') Высший состав
                li.active(role='presentation'): a(href='structure.html') Устройство
                li(role='presentation'): a(href='achievements.html') Достижения

    .b-structure
        .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_up
            p.b-structure__title Консультативный совет
            .b-structure__text
                p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
        .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
            p.b-structure__title Партнерский совет
            .b-structure__text
                p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
        .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
            p.b-structure__title Департамент юридической практики
            .b-structure__text
                p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
        .b-structure__list
            .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
                p.b-structure__title Департамент экономической безопасности
                .b-structure__text
                    p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
            .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
                p.b-structure__title Финансово-аналитический департамент
                .b-structure__text
                    p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
            .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
                p.b-structure__title Отделение департамента юридической практики в Уральском регионе
                .b-structure__text
                    p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
            .b-structure__item.b-structure__item_arrow.b-structure__item_arrow_down
                p.b-structure__title Отделение департамента юридической практики в Центральном регионе
                .b-structure__text
                    p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
        .b-structure__item
            p.b-structure__title Департамент внутреннего обеспечения
            .b-structure__text
                p Небольшое пояснение что из себя представляет данный отдел, какие преимущества дает наличие этого отдела.
