extends ./layouts/layout.jade
block content
    h1 Практика финансового права и управления активами

    div
        .b-tabs
            .visible-xs
                // Nav tabs
                ul.nav.nav-tabs.nav-justified(role='tablist')
                    li.active(role='presentation'): a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Описание
                    li(role='presentation'): a(href='#services', aria-controls='services', role='tab', data-toggle='tab') Услуги
                    li(role='presentation'): a(href='#cases', aria-controls='cases', role='tab', data-toggle='tab') Дела
            .hidden-xs
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation'): a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Описание
                    li(role='presentation'): a(href='#services', aria-controls='services', role='tab', data-toggle='tab') Услуги
                    li(role='presentation'): a(href='#cases', aria-controls='cases', role='tab', data-toggle='tab') Дела
        // Tab panes
        .tab-content
            #home.tab-pane.active(role='tabpanel')
                .hidden-xs
                    .b-feature.pull-right
                        p.b-feature__title 87%
                        p.b-feature__lead Выйгранных дел
                        p.b-feature__text Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата. Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.

                h5 О практике
                p Задача Alliance Legal CG — предоставление максимально полного и качественного набора правовых услуг для эффективного функционирования бизнеса клиентов. Практика корпоративного права сформирована на основании опыта консультирования российских компаний и правового сопровождения крупных сделок.
                p Практика строится на основании экспертизы юристов и консультантов с опытом в различных областях законодательства и глубокими отраслевыми знаниями. Для комплексного и эффективного решения задач клиентов к работе привлекаются специалисты в сфере экономики, финансов и оценки, обладающие опытом научной и практической деятельности. Сотрудничество с экспертными организациями обеспечивает доскональное понимание бизнес-процессов, проведение экспертиз, качественный анализ бизнес-единиц и холдинговых структур, оценку объектов недвижимости и транспорта.
                p Работа юристов фирмы ознаменовалась многочисленными проектами, осуществлёнными с высокой эффективностью, что позволило максимизировать прибыль и сократить риски клиентов.

                .visible-xs
                    .b-feature
                        p.b-feature__title 87%
                        p.b-feature__lead Выйгранных дел
                        p.b-feature__text Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата. Небольшое пояснение много это или мало и какие принципы помогли достичь такого результата.
                .hidden-xs
                    .g-mt60

                h5 Отзывы клиентов
                p Задача Alliance Legal CG — предоставление максимально полного и качественного набора правовых услуг для эффективного функционирования бизнеса клиентов.

                .b-feedback
                    .b-feedback__logo: img.img-responsive(src='assets/img/feedback/logo1.png')

                    blockquote.b-feedback__people
                        p.b-feedback__name Фамилия Имя Отчество
                        p.b-feedback__caption Генеральный директор металлургического холдинга Akron Metal Alliance
                    .b-feedback__text
                        p «Выражаю признательность команде Alliance Legal CG за профессионализм и высококвалифицированную юридическую поддержку реализованных проектов.»
                    a.b-feedback__link(href='assets/img/feedback/logo1.png') Рекомендательное письмо
                .b-feedback
                    .b-feedback__logo: img.img-responsive(src='assets/img/feedback/logo2.png')

                    blockquote.b-feedback__people
                        p.b-feedback__name Фамилия Имя Отчество
                        p.b-feedback__caption Генеральный директор металлургического холдинга Akron Metal Alliance
                    .b-feedback__text
                        p «Выражаю признательность команде Alliance Legal CG за профессионализм и высококвалифицированную юридическую поддержку реализованных проектов.»
                    a.b-feedback__link(href='assets/img/feedback/logo2.png') Рекомендательное письмо
                .b-feedback
                    .b-feedback__logo: img.img-responsive(src='assets/img/feedback/logo3.png')

                    blockquote.b-feedback__people
                        p.b-feedback__name Фамилия Имя Отчество
                        p.b-feedback__caption Генеральный директор металлургического холдинга Akron Metal Alliance
                    .b-feedback__text
                        p «Выражаю признательность команде Alliance Legal CG за профессионализм и высококвалифицированную юридическую поддержку реализованных проектов.»
                    a.b-feedback__link(href='assets/img/feedback/logo3.png') Рекомендательное письмо

            #services.tab-pane(role='tabpanel')
                .b-text
                    .row
                        .col-md-12.col-lg-6
                            h5 Консультирование по вопросам корпоративного права
                            ul
                                li Консультирование организаций по вопросам правовых рисков в рамках текущей хозяйственной деятельности
                                li Всесторонний правовой анализ организаций на предмет соответствия нормам российского законодательства, разработка карты правовых рисков
                                li Правовая экспертиза совершаемых сделок на соответствие нормам законодательства и прочности позиций клиента
                            h5 Приобретение и продажа активов. Слияния и поглощения
                            ul
                                li Анализ правовых рисков сделки и оценка её соответствия нормам российского законодательства
                                li Разработка и осуществление пошагового плана структурирования сделки
                                li Осуществление правового анализа (due diligence) актива
                                li Участие в переговорном процессе с контрагентами
                                li Разработка акционерных и/или партнерских соглашений
                                li Разработка контрактной документации по продаже/покупке актива
                                li Сопровождение процесса заключения сделки
                                li Обеспечение фактического исполнения достигнутых договоренностей в рамках сделки
                            h5 Антимонопольное регулирование
                            ul
                                li Консультирование организаций по вопросам соблюдения норм антимонопольного законодательства
                                li Взаимодействие с органами антимонопольного надзора по вопросам создания/реструктуризации организации с целью получения предварительного одобрения
                                li Взаимодействие с органами антимонопольного надзора по вопросам заключения сделок с акциями (долями), имуществом и правами организаций
                                li Разрешение споров с антимонопольным органом (ФАС РФ)
                        .col-md-12.col-lg-6
                            h5 Сопровождение деятельности представительств на территории России (Doing Business in Russia)
                            ul
                                li Консультирование иностранных организаций по нормам российского законодательства
                                li Разработка дорожной карты по правовым вопросам, включающим корпоративное, налоговое, трудовое, миграционное и коммерческое законодательство, в связи с планами выхода на российский рынок
                                li Консультирование в связи с приобретением активов на территории России
                                li Создание, реорганизация, ликвидация представительств на территории России
                            h5 Корпоративные споры
                            ul
                                li Консультирование организаций в связи с вступлением в корпоративный конфликт по правовым рискам и соответствию нормам российского законодательства
                                li Представительство интересов кредиторов, должников, акционеров, участников должника в рамках корпоративного конфликта
                                li Ведение спора по возврату/реализации активов должника
            #cases.tab-pane(role='tabpanel')
                .b-cases
                    .b-cases__header
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim magna massa, id tempus arcu dapibus nec. Quisque a rutrum quam. Donec vitae risus ac arcu ornare molestie. Duis vel ullamcorper ligula, at finibus sem. Nulla non pretium felis. Integer in consectetur eros, quis commodo ante. Mauris gravida sapien sagittis ante porttitor posuere. Phasellus a consequat risus. Proin molestie fermentum ornare. Suspendisse pulvinar fermentum mi, non gravida nulla posuere id. Mauris lacinia lectus hendrerit justo ultricies dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus purus tellus, sollicitudin vel accumsan quis, scelerisque quis nisl. Nullam quis nulla sed neque auctor pellentesque. Suspendisse rutrum consequat felis eget lobortis.
                    .b-filter
                        a.b-filter__item.b-filter__item_active(href='#') 2016
                        a.b-filter__item(href='#') 2015
                        a.b-filter__item(href='#') 2014
                        a.b-filter__item(href='#') 2013
                        a.b-filter__item(href='#') 2012
                    .b-cases__list
                        each caseItem in cases
                            .b-cases__item
                                p: a.b-cases__title(data-toggle="modal" href="#modal_case_1") #{caseItem.title}
                                span.text-muted Суть дела:
                                .b-cases__text
                                    p #{caseItem.text}

block modals
    // Modal
    #modal_case_1.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    .visible-xs
                        a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                .modal-body
                    a.b-print.pull-right.hidden-xs(href='#')
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z" />
                        </svg>
                    .b-case
                        h1.b-case__title Реорганизовать бизнес без налоговых последствий
                        span.text-muted Суть дела:
                        p Конфликт возник между участниками хозяйственного общества, каждый из которых имел блокирующий голос при решении любых вопросов деятельности общества

                        .b-case__tags.b-case-tags
                            span.b-case-tags__header Отрасль:
                            span.b-case-tags__item Энергетика

                        .b-case__author.b-case-author
                            .clearfix
                                .b-case-author__image
                                    img.img-responsive(src='http://placehold.it/100')
                                p.b-case-author__name Бормашенко Марина Юрьевна
                                p.b-case-author__text Советник, руководитель Отделения Департамента юридической практики в Уральском регионе

                        .b-case__text
                            p Устав общества с ограниченной ответственностью, участником которого являлся клиент Группы, предписывал возможность исключительно единогласного голосования по всем вопросам, отнесенным к компетенции общего собрания. Таким образом, участники при создании общества поставили себя в "патовую" ситуацию, при которой все основные вопросы деятельности компании могут решаться лишь единогласно.
                            p После возникшего корпоративного конфликта, связанного с распоряжением недвижимым имуществом принадлежащим обществу, указанное обстоятельство сыграло двоякую роль: с одной стороны – не дав ни одной из сторон необходимого преимущества, а с другой стороны – став камнем преткновения перед самой возможностью решить конфликт в пользу кого-либо из участников. Осложнялась ситуация тем, что враждующие участники не могли даже сменить директора, который, также обладая долей в уставном капитале общества, действовал в собственных корыстных интересах и ни при каких обстоятельствах не проголосовал бы за сложение с себя полномочий исполнительного органа.
                            p В ходе конфликта задачей специалистов Группы было пресечь попытки директора общества и других недружественных участников продать принадлежащие обществу активы в ущерб интересам общества и клиента Группы.
                            p В ходе сопровождения данного конфликта специалисты Группы столкнулись с неоднократными фактами фальсификации оппонентами юридически значимых документов, с необходимостью наложения ареста на имущество, оспаривания протоколов общих собраний участников, оспаривания недействительных сделок с недвижимым имуществом.
                            p Лишь путем создания для участников конфликта юридической системы сдержек и противовесов, состоящей из судебных актов, удалось разрешить конфликт на взаимовыгодных условиях. В результате проведенных специалистами Группы переговоров, между участниками общества была достигнута договоренность о продаже по действительной рыночной стоимости принадлежащих им долей третьему лицу (стороннему инвестору).
                        .b-case__categories.b-case-categories
                            p.b-case-categories__header Это дело находится в разделах:

                            .b-case-categories__list
                                a.b-case-categories__item(href='#') Практика корпоративного права
                                a.b-case-categories__item(href='#') Практика разрешения споров
