extends ./layouts/layout.jade
block content
    h1 Карьера

    div
        .b-tabs
            .visible-xs
                // Nav tabs
                ul.nav.nav-tabs.nav-justified(role='tablist')
                    li.active(role='presentation'): a(href='#vacancies', aria-controls='vacancies', role='tab', data-toggle='tab') Вакансии
                    li(role='presentation'): a(href='#traineeship', aria-controls='traineeship', role='tab', data-toggle='tab') Стажировка
            .hidden-xs
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation'): a(href='#vacancies', aria-controls='vacancies', role='tab', data-toggle='tab') Вакансии
                    li(role='presentation'): a(href='#traineeship', aria-controls='traineeship', role='tab', data-toggle='tab') Стажировка
        // Tab panes
        .tab-content
            #vacancies.tab-pane.active(role='tabpanel')
                .b-filter
                    a.b-filter__item.b-filter__item_active(href='#') Москва
                    a.b-filter__item(href='#') Екатеринбург
                    a.b-filter__item(href='#') Дубай
                .b-vacancies
                    .b-vacancies__list
                        .b-vacancies__item
                            p.b-vacancies__title(href='#') Руководитель практики налогового права
                            .b-vacancies__text
                                span.text-muted Требования:
                                p Окончила Уральскую государственную юридическую академию. Является высококвалифицированным специалистом в области налогообложения и аудита.
                                span.text-muted Условия:
                                p На протяжении профессиональной деятельности успешно представляла интересы клиентов в урегулировании налоговых споров различной категории сложности как в ходе проведения мероприятий налогового контроля, так и в суде.
                        .b-vacancies__item
                            p.b-vacancies__title(href='#') Руководитель практики земельного, градостроительного права и имущественных отношений
                            .b-vacancies__text
                                span.text-muted Требования:
                                p Окончила Уральскую государственную юридическую академию. Является высококвалифицированным специалистом в области налогообложения и аудита.
                                span.text-muted Условия:
                                p На протяжении профессиональной деятельности успешно представляла интересы клиентов в урегулировании налоговых споров различной категории сложности как в ходе проведения мероприятий налогового контроля, так и в суде.

                .b-text
                    h5 Нет подходящей вакансии?
                    p Если Вы не нашли подходящей вакансии, но считаете себя достойным кандидатом и хотите, чтобы Ваше резюме было включено в базу данных Alliance Legal CG — отправьте его на один из электронных адресов с пометкой в теме - «Резюме».
                    p Москва: #[a(href='mailto:job_msk@alcg.ru') job_msk@alcg.ru]
                    p Екатеринбург: #[a(href='mailto:job_ekb@alcg.ru') job_ekb@alcg.ru]
                    p Дубай: #[a(href='mailto:job_dub@alcg.ru') job_dub@alcg.ru]
            #traineeship.tab-pane(role='tabpanel')
                .b-text
                    h5 Прохождение стажировки в ALCG
                    p Наставничество (менторство / менторинг) – обучение посредством предоставления в разных видах обучаемому модели действий и их корректировки посредством обратной связи. Один из методов обучения персонала, когда более опытный сотрудник делится своими знаниями, умениями и навыками с неопытным новичком на протяжении определенного времени.

                    img(src='http://placehold.it/696x390')

                    p Alliance Legal CG дает возможность молодым и нацеленным на успех будущим юристам начать свою карьеру еще в период учебы.
                    p Студенты высших учебных заведений (начиная со 2 курса), обучающиеся по специальности "юриспруденция" и желающие соеденить обучение с юридической практикой, имеют возможность пройти стажировку в нашей компании с перспективой трудоустройства.
                    p За стажером, прошедшим отбор и собеседование с партнером Компании, на время стажировки закрепляется куратор (ментор), ответственный за участие будущего специалиста в реализуемых Alliance Legal CG проектах.
                    p По окончании стажировки на основании отчета куратора, партнеры Компании могут принять решение о привлечении стажера внештатным сотрудником с установлением вознаграждения, или о зачислении стажера в штат Компании.
                    p Для участия в конкурсе на прохождение стажировки в одном из офисов ALCG заполните форму, либо вышлите свое резюме в свободной форме, содержащее данную информацию на адрес: staj@alcg.ru с пометкой в теме - «Стажировка».

                    .visible-xs
                        .text-center
                            a(data-toggle="modal" href="#modal_vacancy") Заполнить форму соискателя стажировки
                    .hidden-xs
                        .b-vacancy-form
                            h1.b-vacancy-form__title Форма соискателя стажировки
                            p Для участия в конкурсе на прохождение стажировки в одном из офисов ALCG заполните форму, либо вышлите свое резюме в свободной форме, содержащее данную информацию на адрес: staj@alcg.ru с пометкой в теме - «Стажировка».

                            .alert.alert-block.alert-danger
                                p Необходимо исправить следующие ошибки:
                                ul
                                    li Необходимо заполнить поле «ФИО:».
                                    li Необходимо заполнить поле «ФИО:».
                                    li Необходимо заполнить поле «Текст».

                            .alert.alert-danger(role='alert') Текст общей ошибки

                            form.b-form
                                .row
                                    .b-form__column.b-form__column_1
                                        .form-group
                                            label Ваше фото:
                                            .b-form__upload
                                                | Добавить
                                                input(type="file")
                                                .b-form__preview-image.hidden
                                                    .b-form__preview-delete
                                    .b-form__column.b-form__column_2
                                        .form-group
                                            label Выберите филиал ALCG:
                                            select.form-control
                                                option(value=1) Екатеринбург
                                                option(value=2) Москва
                                                option(value=3) Дубай
                                        .form-group
                                            label ФИО:
                                            input.form-control(placeholder='')
                                .form-group
                                    label Биографические данные:
                                    textarea.form-control.resizable-y(rows='5')
                                .form-group.has-error
                                    label Сведения о начальном и высшем образовании:
                                    textarea.form-control.resizable-y(rows='5')
                                    .help-block Текст ошибки
                                .form-group
                                    label Сфера профессиональных интересов:
                                    textarea.form-control.resizable-y(rows='5')
                                .form-group
                                    label Персональная характеристика:
                                    textarea.form-control.resizable-y(rows='5')
                                .form-group
                                    label Контактная информация:
                                    textarea.form-control.resizable-y(rows='5')

                                button.btn.btn-primary.b-form__button(type='submit') Отправить

block modals
    // Modal
    #modal_vacancy.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                    a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
                .modal-body
                    .b-vacancy-form
                        h1.b-vacancy-form__title Форма соискателя стажировки

                        .alert.alert-danger(role='alert') Текст общей ошибки

                        form.b-form
                            .row
                                .b-form__column.b-form__column_1
                                    .form-group
                                        label Ваше фото:
                                        .b-form__upload
                                            | Добавить
                                            input(type="file")
                                            .b-form__preview-image.hidden
                                                .b-form__preview-delete
                                .b-form__column.b-form__column_2
                                    .form-group
                                        label Выберите филиал ALCG:
                                        select.form-control
                                            option(value=1) Екатеринбург
                                            option(value=2) Москва
                                            option(value=3) Дубай
                                    .form-group
                                        label ФИО:
                                        input.form-control(placeholder='Фамилия Имя Отчество')
                            .form-group
                                label Биографические данные:
                                textarea.form-control.resizable-y(rows='5')
                            .form-group.has-error
                                label Сведения о начальном и высшем образовании:
                                textarea.form-control.resizable-y(rows='5')
                                .help-block Текст ошибки
                            .form-group
                                label Сфера профессиональных интересов:
                                textarea.form-control.resizable-y(rows='5')
                            .form-group
                                label Персональная характеристика:
                                textarea.form-control.resizable-y(rows='5')
                            .form-group
                                label Контактная информация:
                                textarea.form-control.resizable-y(rows='5')

                            button.btn.btn-primary.b-form__button(type='submit') Отправить
