@import "variables";
@import "mixins";

.b-splash-blocks {
	margin-top: 30px;
	margin-bottom: 30px;
}

.b-splash-blocks__item {
	margin: 0 10px 30px;
}

.b-splash-blocks__link {
	font-size: 21px;
	line-height: 25px;
	//color: #6f4c3a;
	text-decoration: underline;
	margin-bottom: 10px;
	display: inline-block;

	&:hover, &:active, &:focus {
		//color: #9b7259;
	}
}

.b-splash-blocks__text {
}
