@import "variables.less";
@import "mixins";

.b-reviews {
	text-align: left;
	margin-top: 15px;
	margin-bottom: 40px;
}

.b-reviews__item {
	display: block;
	border: 1px solid #e0e0e0;
	background: #ffffff;
	margin: 0 0 20px;
	//box-shadow: 0 0 1px 1px #e0e0e0;
	.clearfix();

	&:hover, &:active, &:focus {
		border-color: #fff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .33);
		text-decoration: none;
	}
}

.b-reviews__image {
	width: 100px;
	margin: 19px 22px;
	float: left;
}

.b-reviews__title {
	margin-left: 144px;
	font-size: 16px;
	color: #212121;
	margin-top: 15px;
}

.b-reviews__text {
	margin-left: 144px;
	font-size: 12px;
	color: #616161;
	margin-bottom: 15px;
}

@media (max-width: @screen-xxs-max) {
	.b-reviews__item {
		text-align: center;
	}

	.b-reviews__image {
		float: none;
		margin: 20px auto;
	}

	.b-reviews__title {
		margin-left: 0;
	}

	.b-reviews__text {
		margin-left: 0;
	}
}
