@import "variables";
@import "mixins";

.b-people {
}

.b-people__card {
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	margin: -@modal-inner-padding -@modal-inner-padding 0;
	padding: @modal-inner-padding;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.b-people__image, .b-people__content {
	flex-basis: 100%;
}

@media (min-width: @screen-xs) {
	.b-people__image, .b-people__content {
		flex-basis: 50%;
	}

	.b-people__image {
		padding-right: @grid-gutter-width/2;
	}

	.b-people__content {
		padding-left: @grid-gutter-width/2;
	}
}

.b-people__name {
	font-size: 21px;
	line-height: 25px;
	font-weight: 600;
	color: #212121;
	margin-top: 15px;
	text-align: center;
}

.b-people__caption {
	text-align: center;
	margin-bottom: -5px;
}

.b-people__text {
	padding-top: 15px;
}

@media (min-width: @screen-xs) {
	.b-people__name {
		text-align: left;
		margin-top: 0;
	}

	.b-people__caption {
		text-align: left;
		margin-bottom: 0;
	}
}
