@import "variables";
@import "mixins";

.b-cases {

}

.b-cases__list {
}

.b-cases__item {
	margin-bottom: 30px;
}

.b-cases__title {
	text-decoration: none;
	border-bottom: 1px solid @link-color;

	&:hover, &:active, &:focus {
		text-decoration: none;
		border-bottom-color: @link-hover-color;
	}
}

.b-cases__text {
}

.b-cases__header {
	margin-bottom: 30px;
}

@media (min-width: @screen-sm-min) {
	.b-cases__title {
		font-size: 21px;
		line-height: 25px;
		font-weight: normal;
	}
}
