@import "variables";
@import "mixins";

.b-case-tags {
	padding: 10px @grid-gutter-width;
	background: #e0e0e0;

	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;
}

.b-case-tags__header {
	color: #807e7c;
	margin-right: 10px;
}

.b-case-tags__item {
	display: inline-block;
	color: #807e7c;
	border: 1px solid #b7b5b1;
	border-radius: 3px;
	padding: 4px 10px;
}