@import "variables";
@import "mixins";

.b-peoples {
	margin-bottom: 32px;
}

.b-peoples__title {
	margin-top: 32px;
	margin-bottom: 12px;
	line-height: @line-height-base;
}

.b-peoples__text {
	p {
		margin-bottom: 20px;
	}
}

.b-peoples__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	margin: 30px -@grid-gutter-width/2 -20px;
}

.b-peoples__item {
	margin-bottom: 20px;
	padding: 0 @grid-gutter-width/2;
	display: flex;
	flex-direction: column;
}

@screen-phone-vertical: 320px;
@screen-phablet-vertical: 375px;
@screen-tablet-vertical: 414px;
@screen-phone-horizontal: 480px;
@screen-phablet-horizontal: 667px;
@screen-tablet-horizontal: 736px;

@screen-phone-vertical-min: @screen-phone-vertical;
@screen-phone-vertical-max: (@screen-phablet-vertical - 1);

@screen-phone-horizontal-min: @screen-phablet-vertical;
@screen-phone-horizontal-max: (@screen-phablet-horizontal - 1);

@screen-phablet-horizontal-min: @screen-phablet-horizontal;
@screen-phablet-horizontal-max: (@screen-tablet-horizontal - 1);

@screen-tablet-horizontal-min: @screen-tablet-horizontal;

@media (max-width: @screen-phone-vertical-max) {
	.b-peoples__item {
		flex-basis: 100%/1;
	}
}

@media (min-width: @screen-phone-horizontal-min) and (max-width: @screen-phone-horizontal-max) {
	.b-peoples__item {
		flex-basis: 100%/2;
	}
}

@media (min-width: @screen-phablet-horizontal-min) and (max-width: @screen-phablet-horizontal-max) {
	.b-peoples__item {
		flex-basis: 100%/3;
	}
}

@media (min-width: @screen-tablet-horizontal-min) and (max-width: @screen-xs-max) {
	.b-peoples__item {
		flex-basis: 100%/4;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.b-peoples__item {
		flex-basis: 100%/3;
	}
}

@media (min-width: @screen-md-min) {
	.b-peoples__item {
		flex-basis: 100%/4;
	}
}

//@media (max-width: @screen-xs-max) { ... }
//@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
//@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
//@media (min-width: @screen-lg-min) { ... }

.b-peoples__card {
	display: block;
	height: 100%;
	border: 1px solid #e0e0e0;
	border-top: none;
	text-decoration: none;
	background: #fff;
	flex: 1;

	&:hover, &:active, &:focus {
		text-decoration: none;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .33);
		border: none;

		.b-peoples__image {
			margin: 0;
		}
		.b-peoples__caption {
			padding: 8px 11px 9px;
		}
	}
}

.b-peoples__image {
	position: relative;
	margin: 0 -1px;
}

.b-peoples__name {
	color: #ffffff;
	font-size: 16px;

	padding: 16px 15px 10px;
	margin: 0;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	background: linear-gradient(to top, rgba(19, 25, 38, .65) 0%, rgba(19, 25, 38, .5) 50%, rgba(19, 25, 38, 0) 100%);
}

.b-peoples__caption {
	color: @text-color;
	font-size: 12px;
	line-height: 18px;
	padding: 8px 10px;
}

@media print {
	.b-peoples__name {
		position: inherit;
		padding-top: 10px;
		background: none;
		color: #000;
	}

	.b-peoples__card {
		border: none !important;
		background: none !important;
	}
}
