@import "variables";
@import "mixins";

.b-tabs {
	margin: -18px -@grid-gutter-width 0;
}

@media (min-width: @screen-sm-min) {
	.b-tabs {
		margin: 0 0 20px;

		.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
			background-color: #fafafa;
		}
	}
}

@media print {
	.nav-tabs {
		border: none !important;

		> li {
			display: none !important;

			&.active {
				display: block !important;

				> a {
					border: none !important;
					font-size: 1.1em !important;
				}
			}
		}
	}
}