@import "variables";
@import "mixins";

.b-vacancy-form {
	background: #fff;
	margin: -@modal-inner-padding;
	padding: 15px @modal-inner-padding 40px;
}

.b-vacancy-form__title {
	margin-bottom: 25px;
}

@media (min-width: @screen-sm-min) {
	.b-vacancy-form {
		border: 1px solid #e0e0e0;
		margin: 35px 0 0;
		padding-bottom: @modal-inner-padding;
	}

	.b-vacancy-form__title {
		font-size: 21px;
		line-height: 25px;
		margin-bottom: 10px;
	}
}
