@import "variables";
@import "mixins";

.b-navbar-mobile {
	border: none;

	.navbar-toggle .icon-bar {
		width: 20px;
		border-radius: 0;
	}
	.navbar-toggle {
		margin-right: 9px;
	}
	.navbar-brand {
		display: none;
		padding-left: 20px;
	}
	.navbar-collapse {
		border: none;
		box-shadow: none;

		transition: height 0s;

		//background: @navbar-default-bg;
		//position: fixed;
		//top: 0;
		//right: 0;
		//left: 0;
		//min-height: 100%;
		//padding-top: @navbar-height;
		//

		.dropdown-menu {
			padding: 0;

			> li > a {
				white-space: normal;
				color: #fff;
				touch-action: manipulation;
			}
		}

		.nav > li > a {
			text-transform: uppercase;
		}
		ul > li > a {
			border-top: 1px solid #040f26 !important;
		}
		.nav > li:first-child > a {
			border-top: none !important;
		}

		.caret {
			border: none;
			background: left top no-repeat url("../../assets/img/menu-caret.png");
			width: 11px;
			height: 7px;
		}
		.dropdown.open > a {
			.caret {
				transform: rotate(180deg);
			}
		}
	}

	.navbar-nav {
		margin-top: 20px;
	}

	@media (max-width: @screen-xs-max) {
		.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
			padding: 10px 40px;
		}
	}
}

.b-navbar-mobile_light {
	.navbar-brand {
		display: none;
	}
	//background-color: transparent;

	.navbar-collapse {
		background-color: @navbar-default-bg;
	}

	//.navbar-toggle .icon-bar {
	//	background-color: #fff;
	//}
}

/* FULL SCREEN MODAL STYLES
-------------------------------------------------- */
.fullscreen {
	.modal-dialog {
		margin: 0 0 0 0;
		width: 100%;
		height: 100%;
		min-height: 100%;
		padding: 0;
	}

	.modal-content {
		height: 100%;
		min-height: 100%;
		border-radius: 0;
		background: @navbar-default-bg;
		overflow: auto;
	}

	.modal-body {
		padding: 0;
	}

	.navbar-brand {
		display: none;
	}
}

@media print {
	.b-navbar-mobile {
		display: none !important;
	}
}
