@import "variables";
@import "mixins";

h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.b-page {
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.b-page__sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.b-page__content {
	background: #fafafa;
	padding: @line-height-computed @grid-gutter-width 0;
	margin-left: -@grid-gutter-width/2;
	margin-right: -@grid-gutter-width/2;
}

.b-page__print {
	float: right;
	position: relative;
	top: -6px;
	right: -20px;
}

@media (max-width: @screen-xs-max) {
	.b-page__sidebar {
		display: none;
	}
}

@media (min-width: @screen-sm-min) {
	.b-page {
		margin-left: -@grid-gutter-width/2;
		margin-right: -@grid-gutter-width/2;
	}

	.b-page__content {
		padding: 0 40px;
		margin: 0;
	}

	h1 {
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 30px;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.b-page__sidebar {
		width: 72px;
	}

	.b-page__content {
		margin-left: 72px;
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.b-page__sidebar, .b-page__sidebar.b-sidebar_expanded {
		width: 328px;
	}

	.b-page__content {
		margin-left: 328px;
	}
}

@media (min-width: @screen-lg-min) {
	.b-page__sidebar, .b-page__sidebar.b-sidebar_expanded {
		width: 442px;
	}

	.b-page__content {
		margin-left: 442px;
	}
}

.b-splash-page {
	background: #fafafa;
	padding: 0 30px;
}

/* sticky footer, full height page, hell for IE lte 11 */
@media (min-width: @screen-sm-min) {
	.b-page__content {
		min-height: 100vh;

		display: flex;
		flex-direction: column;
	}

	.b-page__inner {
		flex: 1 0 0; /* same as flex: 1 1 auto; */
	}
}

@media print {
	.b-page__content {
		margin-left: 0 !important;
	}
}
