@import "variables";
@import "mixins";

.browserupgrade {
	margin: 0 0 0.2em;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
}

html, body {
	//min-height: 100vh;
	//height: 100%;
	-webkit-font-smoothing: antialiased;

	button,
	input,
	select,
	textarea {
		color: #222;
		-webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
	}
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
	//min-width: 1060px;
	//position: relative;
}

@media (max-width: @screen-xs-max) {
	//body.modal-open {
	//	// block scroll for mobile;
	//	// causes underlying page to jump to top;
	//	// prevents scrolling on all screens
	//
	//	//height: 100%;
	//	//overflow: hidden !important;
	//	//width: 100%;
	//	//position: fixed;
	//}
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	//width: 1060px;
	//max-width: none !important;
}

/**
* Generate .g-mt10, .g-mt-20, .g-mb10 classes
*/
@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.margin-left-loop (@i) when (@i > 0) {
	.g-ml@{i}0 {
		margin-left: @i * 10px !important;
	}

	.margin-left-loop(@i - 1);
}

.margin-left-loop(@iterations);

.super-transition() {
	-webkit-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */
}

.g-bg-dark {
	background: #394053;
}

.g-bg-light {
	background: #fafafa;
}

.resizable-x {
	.resizable(horizontal);
}

.resizable-y {
	.resizable(vertical);
}

.nav-tabs {
	text-transform: uppercase;

	> li {
		> a {
			color: @text-color;
		}
	}
}

.tab-content {
	margin: 20px 0;
}

.modal-header {
	background: #071d49;
	border: none;

	.close {
		float: right;
		height: 40px;
		width: 19px + 20px*2;
		margin: 10px 0 0;
		cursor: pointer;

		color: #838ea4;
		position: relative;
		//margin-top: 0;
		//margin-left: 0;
		//width: 21px;
		//height: 21px;

		&:hover, &:active, &:focus {
			color: #fff;
		}

		&:before {
			content: '';
			position: absolute;
			top: 19px;
			left: 17px;
			width: 25px;
			height: 2px;
			background-color: currentColor;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&:after {
			content: '';
			position: absolute;
			top: 19px;
			left: 17px;
			width: 25px;
			height: 2px;
			background-color: currentColor;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

.modal-content {
	border: none;
	border-radius: 0;
}

.modal .navbar-brand {
	visibility: hidden;
}

@media (max-width: @screen-xs-max) {
	.modal-dialog {
		margin: 0;
		min-height: 100vh;
	}

	.modal {
		background-color: @modal-content-bg;
	}

	.modal-content {
		min-height: 100vh;
	}

	//.modal-body {
	//	position: absolute;
	//	top: 40px;
	//	left: 0;
	//	right: 0;
	//	bottom: 0;
	//	overflow: auto;
	//}
}

@media (min-width: @screen-sm-min) {
	.modal-dialog {
		margin: 80px auto;
		//height: 100vh;
		//margin: 0 auto;
		//display: flex;
		//align-items: center;
	}

	.modal-header {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;

		.close {
			margin: 0;
		}
	}

	.modal-title {
		color: #838ea4;
		font-size: 28px;
		line-height: 40px;
		font-weight: 600;
	}

	.modal-content {
		box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
	}

	.modal-open {
		.b-page, .b-splash-page, .b-splash-jumbotron {
			filter: blur(1px);
		}
	}
}

/* Большие модальные окна */
.modal_big {

}

@media (max-width: @screen-md-max) {
	.modal_big {
		.modal-dialog {
			margin: 0;
			min-height: 100vh;
			width: 100%;
		}

		.modal-content {
			min-height: 100vh;
		}

		.modal-body {
			position: absolute;
			top: 40px;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: auto;
		}
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
	.modal_big {
		.modal-body {
			top: 60px;
		}
	}
}

@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
	.modal_big {
		.modal-dialog {
			width: 800px;
		}
	}
}

@media (min-width: @screen-xl-min) {
	.modal_big {
		.modal-dialog {
			width: 1024px;
		}
	}
}

.alert-danger {
	background: @alert-danger-bg left 10px top 9px no-repeat url("../../assets/img/alert-danger-icon.png");
	padding-left: 40px;
}

.alert {
	> ul {
		margin-top: 15px;
	}
}

@media print {
	body.modal-open {
		padding: 0 !important;
		position: inherit !important;
		overflow: inherit !important;

		.b-page, .b-splash-page, .b-splash-jumbotron {
			display: none;
			visibility: hidden;
		}
	}

	.modal.in, .modal.in * {
		visibility: visible;
	}

	.modal.in {
		position: inherit !important;
		overflow: inherit !important;
		min-height: inherit !important;
		height: auto !important;
	}

	.modal-dialog {
		margin: 0;
		width: auto;
	}

	.modal-header {
		display: none;
	}
}
