@import "variables";
@import "mixins";

.b-splash-jumbotron, .b-splash-slider__item {
	width: 100%;
	height: 100%;
	//background-image: linear-gradient(to top, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, .33) 50%, rgba(33, 33, 33, .5) 100%), url("../../assets/img/main.jpg");
	//background-repeat: no-repeat;
	//background-position: top left, top left;
	//background-size: auto, cover;

	//display: flex;
	//flex-flow: column nowrap;
	//align-content: center;
	//justify-content: center;

	//padding: 0 20px;

	position: relative;
	overflow: hidden;
}
.slick-list, .slick-track {
	height: 100%;
}
.b-splash-jumbotron__logo {
	background: top center no-repeat url("../../assets/img/logo-splash.png");
	width: 200px;
	height: 146px;
	margin-bottom: 20px;

	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 100;
}

@media (max-width: @screen-md-max) {
	.b-splash-jumbotron__logo {
		width: 150px;
		height: 110px;
		background-size: 150px auto;

		top: 20px;
		left: 20px;
	}
}

@media (max-width: @screen-xs-max) {
	.b-splash-jumbotron {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.b-splash-jumbotron__logo {
		top: 20px+60px;
	}
}

@media (min-width: @grid-float-breakpoint) {
	.b-splash-jumbotron, .b-splash-slider__item {
		height: 500px;
	}
}

@media (min-width: @screen-lg-min) {
	.b-splash-jumbotron, .b-splash-slider__item {
		height: 600px;
	}
}

@media (min-width: @screen-xl-min) {
	.b-splash-jumbotron, .b-splash-slider__item {
		height: 700px;
		max-height: ~"calc(100vh - 60px)";
	}
}
