@import "variables";
@import "mixins";

.b-splash-categories {
	display: flex;
	flex-flow: row wrap;
	margin: 20px -30px 30px;
}

.b-splash-categories__item {
	background: #071d49;
	flex-basis: 33.3%;

	padding: 30px 40px;
	border-right: 1px solid #040f26;
	border-bottom: 1px solid #040f26;

	cursor: pointer;

	&:hover, &:active, &:focus {
		background-color: #092357;
	}
}

.b-splash-categories__title {
	font-size: 21px;
	line-height: 25px;
	color: #ffffff;
	margin-bottom: 5px;
}

.b-splash-categories__button {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, .15);
	border-radius: 3px;
	padding: 9px 14px;
	color: #fff;
	margin-top: 2px;
	margin-bottom: 10px;

	&:hover, &:focus, &:active {
		color: #fff;
		text-decoration: none;
		border-color: #808694;
	}
}

.b-splash-categories__text {
	opacity: .7;
	color: #fff;
	margin-bottom: 10px;
}

.b-splash-categories__link {
	display: inline-block;
	padding-left: 29px;
	background: left top no-repeat url("../../assets/img/case-icon.png");
	color: #fff;
	text-decoration: underline;

	&:hover, &:focus, &:active {
		text-decoration: none;
		color: #fff;
	}
}

@media (max-width: @screen-sm-max) {
	.b-splash-categories__item {
		flex-basis: 100%;
		border-right: none;
		padding-top: 12px;
		padding-bottom: 14px;
	}

	.b-splash-categories__title {
		margin-bottom: 10px;
	}

	.b-splash-categories__button {
		border: none;
		padding: 0;
		margin: 0;
		text-decoration: underline;
		margin-right: 40px;
	}

	.b-splash-categories__link {

	}

	.b-splash-categories__text {
		display: none;
	}
}

@media (max-width: @screen-md-max) {
	.b-splash-categories__item {
		padding: 20px 20px 15px;
	}

	.b-splash-categories__text {
		display: none;
	}
}