@import "variables";
@import "mixins";

.b-places {
	margin-bottom: 40px;
}

.b-places__item {
	margin-bottom: 20px;
}

.b-places__card {
	text-align: center;
	position: relative;
	background: #fff;
	min-height: 210px;
}

.b-places__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100px;
		background: linear-gradient(to bottom, rgba(19, 25, 38, .65), rgba(19, 25, 38, 0));
		content: '';
	}
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100px;
		background: linear-gradient(to top, rgba(19, 25, 38, .65) 0%, rgba(19, 25, 38, .5) 50%, rgba(19, 25, 38, 0) 100%);
		content: '';
	}
}

.b-places__image_1 {
	background-image: url('../../assets/img/places/msk.jpg');
}

.b-places__image_2 {
	background-image: url('../../assets/img/places/ekb.jpg');
}

.b-places__image_3 {
	background-image: url('../../assets/img/places/dub.jpg');
}

.b-places__title {
	font-size: 28px;
	font-weight: 600;
	color: #ffffff;

	text-shadow: 0 0 5px #131926;
	padding-bottom: 32px;
	background: center bottom no-repeat url("../../assets/img/placemark.png");

	position: absolute;
	top: 12px;
	left: 0;
	right: 0;
}

.b-places__link {
	color: #ffffff;
	display: inline-block;
	width: 180px;
	border: 1px solid rgba(255, 255, 255, .33);

	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -180px/2;
	padding: 9px 0;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ffffff;
		border: 1px solid rgba(255, 255, 255, .5);
	}
}

.b-places__content {
	padding: 18px 18px 8px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-top-width: 0;

	i {
		font-style: normal;
	}
}

@screen-phablet-horizontal: 667px;

.b-places__item {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.b-places__card, .b-places__content {
	flex-basis: 100%;
}

@media (min-width: @screen-phablet-horizontal) {
	.b-places__card, .b-places__content {
		flex-basis: 50%;
	}

	.b-places__content {
		border-top-width: 1px;
		border-left-width: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	.b-places__item:nth-child(even) {
		.b-places__card {
			order: 2;
		}
		.b-places__content {
			order: 1;
			border-left-width: 1px;
			border-right-width: 0;
		}
	}
}
