@import "variables";
@import "mixins";

.b-case-categories {
	padding: 17px @grid-gutter-width 22px;
	background: #b7b5b1;

	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;
}

.b-case-categories__header {
	//font-style: italic;
	color: #ebe9e5;
	margin-bottom: 13px;
}

.b-case-categories__list {
}

.b-case-categories__item {
	color: #ffffff;

	display: inline-block;
	margin-right: 20px;
	text-decoration: underline;

	&:hover, &:active, &:focus {
		color: #ffffff;
		text-decoration: none;
	}
}
