@import "variables";
@import "mixins";

@media (max-width: @screen-xs-max) {
	.b-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.b-map__title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 55px;
		line-height: 55px;
		white-space: nowrap;

		font-size: 21px;
		color: #212121;
		text-align: center;
	}

	.b-map__map {
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@media (min-width: @screen-sm-min) {
	.b-map__title {
		display: none;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
	.b-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.b-map__map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@media (min-width: @screen-lg-min) {
	.b-map {
		margin: -@modal-inner-padding;
	}

	.b-map__map {
		width: 100%;
		height: 600px;
	}
}
