@import "variables";
@import "mixins";

.b-print {
	display: inline-block;
	fill: #a6a6a6;

	&:hover {
		fill: darken(#a6a6a6, 15%);
	}
}

.b-print_modal {
	position: absolute;
	top: @modal-inner-padding;
	right: @modal-inner-padding;
}
