@import "variables";
@import "mixins";

.b-feature {
	text-align: center;
	background: #eeeeee;
	border-radius: 5px;
	border: 5px solid #eeeeee;
	box-shadow: inset 0 0 0 1px #ffffff;

	padding: 0 15px;
	margin: 30px 0 38px;
}

.b-feature__title {
	font-size: 70px;
	color: #071d49;
	margin-bottom: 0;
	line-height: 1;
	margin-top: 6px;
}

.b-feature__lead {
	color: #071d49;
	text-transform: uppercase;
}

.b-feature__text {
	//font-style: italic;
	color: #808080;
	margin-bottom: 15px;
}

@media (min-width: @screen-sm-min) {
	.b-feature {
		width: 288px;
		margin: 0 0 40px 40px;
	}

	.b-feature__text {
		text-align: left;
		margin-top: 15px;
		margin-bottom: 20px;
	}
}

@media (min-width: @screen-lg-min) {
	.b-feature {
		width: 402px;
	}
}
