@import "variables";
@import "mixins";

.b-filter {
	margin-bottom: 25px;
	margin-right: -10px;

	.clearfix();
}

.b-filter__item {
	float: left;
	display: inline-block;

	color: #808080;
	padding: 8px 14px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #e0e0e0;

	&:hover, &:active, &:focus {
		color: #808080;
		border-color: #808080;
		text-decoration: none;
	}
}

.b-filter__item_active {
	&, &:hover, &:active, &:focus {
		color: #ffffff;
		background: #808080;
		border-color: #808080;
	}
}

@media print {
	.b-filter__item {
		border: none !important;
		background: none !important;
		color: #000 !important;
		font-size: 1.2em;
		padding: 0;
	}

	.b-filter__item_active {
		text-decoration: underline;
	}
}
