head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')

    title #{title}
    meta(name="description", content="")

    block styles
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic', type='text/css')
        //link(rel='stylesheet', href='assets/fonts/droidserif.css')
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick-theme.css')
        link(rel='stylesheet', href='assets/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5', media='screen')
        link(rel='stylesheet', href='assets/css/common.min.css')

    block scripts
        script(src='assets/vendor/jquery/dist/jquery.min.js')
        script(src='assets/vendor/bootstrap/dist/js/bootstrap.min.js')
        script(src='assets/vendor/slick-carousel/slick/slick.min.js')
        script(src='assets/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
        script(src='assets/js/script.js')
