<!--[if lte IE 8]>
p.browserupgrade.
    You are using an #[strong outdated] browser.
    Please #[a(target="_blank", href="http://browsehappy.com/") upgrade your browser] to improve your experience.
<!--<![endif]-->

nav.navbar.navbar-default.navbar-static-top.b-navbar-mobile.visible-xs#navbar-example(role='navigation')
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="modal", data-target="#menuModal")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')

// FULLSCREEN MODAL CODE (.fullscreen)
#menuModal.modal.fullscreen(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                a.close(data-dismiss='modal', aria-label='Close')
                a.navbar-brand(href="index.html"): img(src='assets/img/logo-dark.svg',alt='ALCG',width='49',height='20')
            .modal-body
                nav.navbar.navbar-default.navbar-static-top.b-navbar-mobile.b-navbar-mobile_light.visible-xs#navbar-example(role='navigation')
                    #navbar.collapse.navbar-collapse.in.b-navbar-mobile__navbar
                        ul.nav.navbar-nav
                            li.dropdown
                                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Практики и услуги #[span.caret]
                                ul.dropdown-menu
                                    li: a(href='tabs.html') Практика корпоративного права
                                    li: a(href='tabs.html') Практика разрешения споров
                                    li: a(href='tabs.html') Практика финансового права и управления активами
                                    li: a(href='tabs.html') Практика уголовного права
                                    li: a(href='tabs.html') Практика сопровождения банкротств
                                    li: a(href='tabs.html') Практика трудового права
                                    li: a(href='tabs.html') Практика налогового права
                                    li: a(href='tabs.html') Практика земельных и имущественных отношений
                                    li: a(href='tabs.html') Практика частных детективов и розыска активов
                            li.dropdown
                                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") О фирме #[span.caret]
                                ul.dropdown-menu
                                    li: a(href='about.html') Информация
                                    li: a(href='peoples.html') Высший состав
                                    li: a(href='structure.html') Устройство
                                    li: a(href='achievements.html') Достижения
                            li: a(href='vacancies.html') Карьера
                            li: a(href='news.html') Пресс-центр
                            li: a(href='contacts.html') Контакты
                            li: a(href='404.html') English version
