nav.navbar.navbar-inverse.navbar-static-top.b-navbar-desktop.hidden-xs(role='navigation')
    .container-fluid
        ul.nav.navbar-nav
            li.active: a(href="about.html") О фирме
            li: a(href='vacancies.html') Карьера
            li: a(href='news.html') Пресс-центр
            li: a(href='contacts.html') Контакты
        ul.nav.navbar-nav.navbar-right
            li: a(href='404.html') EN