nav.navbar.navbar-inverse.navbar-static-top.b-navbar-desktop.b-navbar-desktop_light.hidden-xs(role='navigation')
    .container-fluid
        .navbar-header
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Практики и услуги #[span.caret]
                    ul.dropdown-menu
                        li: a(href='tabs.html') Практика корпоративного права
                        li: a(href='tabs.html') Практика разрешения споров
                        li: a(href='tabs.html') Практика финансового права и управления активами
                        li: a(href='tabs.html') Практика уголовного права
                        li: a(href='tabs.html') Практика сопровождения банкротств
                        li: a(href='tabs.html') Практика трудового права
                        li: a(href='tabs.html') Практика налогового права
                        li: a(href='tabs.html') Практика земельных и имущественных отношений
                        li: a(href='tabs.html') Практика частных детективов и розыска активов
                li.active: a(href="about.html") О фирме
                li: a(href='vacancies.html') Карьера
                li: a(href='news.html') Пресс-центр
                li: a(href='contacts.html') Контакты
            ul.nav.navbar-nav.navbar-right
                li: a(href='404.html') EN
