.b-sidebar.b-page__sidebar
    a.b-sidebar__toggle(href='#')
    .b-sidebar__content
        a.b-sidebar__logo(href='index.html')

        ul.nav.nav-pills.nav-stacked.b-sidebar__menu
            li(role="presentation"): a(href="tabs.html") Практика корпоративного права
            li(role="presentation"): a(href="tabs.html") Практика разрешения споров
            li.active(role="presentation"): a(href="tabs.html") Практика финансового права и управления активами
            li(role="presentation"): a(href="tabs.html") Практика уголовного права
            li(role="presentation"): a(href="tabs.html") Практика сопровождения банкротств
            li(role="presentation"): a(href="tabs.html") Практика трудового права
            li(role="presentation"): a(href="tabs.html") Практика налогового права
            li(role="presentation"): a(href="tabs.html") Практика земельных и имущественных отношений
            li(role="presentation"): a(href="tabs.html") Практика частных детективов и розыска активов