@import "variables";
@import "mixins";

.b-sidebar {
	background: #071d49;
	z-index: @zindex-navbar + 1;
}

.b-sidebar__content {
	z-index: @zindex-navbar - 1;
}

.b-sidebar__logo {
	display: block;
	//font-size: 28px;
	//line-height: 35px;
	//color: #666d80;
	//text-align: center;
	//padding-top: 91px;
	background: top center no-repeat url("../../assets/img/logo.png");
	width: 200px;
	height: 146px;
	//background-size: 200px 146px;
	margin-top: 42px;
	margin-left: auto;
	margin-right: auto;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #666d80;
	}
}

.b-sidebar__menu {
	margin-top: 50px;

	> li {
		> a {
			color: #ffffff;
			background: #071d49;
			border-bottom: 1px solid #040f26;
			padding-left: 40px;
			padding-right: 40px;
		}

		&:last-child > a {
			border-bottom: none;
		}

		&.active > a, > a:hover, > a:focus, > a:active {
			background: #092357 !important;
		}
	}

	&.nav-stacked > li + li {
		margin-top: 0;
	}
}

.b-sidebar__toggle {
	display: none;
	width: 20px;
	height: 30px;

	background: left top no-repeat url("../../assets/img/sidebar-toggle-bg.png");

	position: absolute;
	top: 20px;
	right: 26px;
}

.b-sidebar_expanded {
	width: 328px;

	.b-sidebar__toggle {
		background-position: -20px 0;
	}
	.b-sidebar__content {
		display: block;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.b-sidebar__toggle {
		display: block;
	}

	.b-sidebar__content {
		display: none;
	}
}

@media print {
	.b-sidebar {
		display: none !important;
	}
}
