@import "variables";
@import "mixins";

.b-news {

}

.b-news__list {
}

.b-news__item {
	margin-bottom: 30px;
}

.b-news__date {
	margin-bottom: 12px;
}

.b-news__title {
	font-size: 16px;
	line-height: 20px;
	//color: #2a3c6c;
	text-decoration: none;
	border-bottom: 1px solid @link-color;

	&:hover, &:active, &:focus {
		//color: #3e589f;
		text-decoration: none;
		border-bottom-color: @link-hover-color;
	}
}

.b-news__text {
	margin-top: 10px;
}

.b-news__button {
	color: #404040;
	text-transform: uppercase;
	border: 1px solid #808080;
	background-color: #fafafa;
	border-radius: 25px;
	padding: 14px 20px;

	&:hover, &:active, &:focus {
		border-color: darken(#808080, 15%);
		background-color: #fafafa;
		color: darken(#404040, 15%);
	}
}
