@import "variables";
@import "mixins";

.b-structure {
	margin-bottom: 35px;
	text-align: center;
}

.b-structure__item {
	margin-bottom: 20px;
}

.b-structure__item_arrow {
	padding-bottom: 40px;
}

.b-structure__item_arrow_up {
	background: center bottom no-repeat url("../../assets/img/structure-arrow-up.png");
}

.b-structure__item_arrow_down {
	background: center bottom no-repeat url("../../assets/img/structure-arrow-down.png");
}

.b-structure__title {
	font-size: 16px;
	line-height: 20px;
	color: @headings-color;
	font-weight: 600;
}

.b-structure__text {
}

.b-structure__list {
	position: relative;
	padding-top: 45px;

	.slick-list {
	}
	.slick-slide {
		outline: none;
	}

	.slick-dots {
		position: absolute;
		top: 0;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;

			&.slick-active {
				button {
					background: #394053;
				}
			}

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 20px;
				height: 20px;
				//padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: #e0e0e0;
				border-radius: 50%;
			}
		}
	}
}

@media (min-width: @screen-sm-min) {
	.b-structure__title {
		font-size: 21px;
		line-height: 25px;
	}

	.b-structure__item_arrow {
		background-size: 298px 30px;
	}

	.b-structure__list {
		padding-top: 0;
		margin-left: -10px;
		margin-right: -10px;
		text-align: left;

		.b-structure__title {
			font-size: 16px;
			line-height: 20px;
		}
	}

	.slick-track {
		display: flex;
		align-items: stretch;

		.b-structure__item {
			height: auto;
		}
	}

	.b-structure__item {
		margin-left: 10px;
		margin-right: 10px;
	}
}
