@import "variables";
@import "mixins";

.b-feedback {
	margin: 32px 0;
}

.b-feedback__people {
	border-left-width: 2px;
	padding: 0 10px;
	margin-bottom: 15px;
}

.b-feedback__logo {
	margin-bottom: 10px;
	width: 120px;
	height: 60px;
}

.b-feedback__name {
	margin-bottom: 4px;
}

.b-feedback__caption {
	//font-style: italic;
	color: #808080;
}

.b-feedback__text {
}

.b-feedback__link {
	//color: #394053;
	text-decoration: underline;
	background: center left no-repeat url("../../assets/img/email-open-outline.svg");
	padding-left: 30px;
	line-height: 24px;
	display: inline-block;

	&:hover, &:active, &:focus {
		//color: #394053;
		//text-decoration: none;
	}
}

@media (min-width: @screen-sm-min) {
	.b-feedback__logo {
		float: left;
	}

	.b-feedback__people {
		margin-left: 140px;
	}

	.b-feedback__text {
		margin-left: 140px;
	}

	.b-feedback__link {
		margin-left: 140px;
	}
}
