@import "variables";
@import "mixins";

.b-rating {
	display: flex;
	flex-wrap: wrap;
	margin: 20px -@grid-gutter-width;
}

.b-rating__item {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

	padding: 0 @grid-gutter-width;

	flex-basis: 100%/1;
}

@screen-phablet-horizontal: 667px;

@media (min-width: @screen-phablet-horizontal) {
	.b-rating__item {
		flex-basis: 100%/2;
	}
}

.b-rating__place {
	color: #071d49;

	height: 146px;
	background: center top no-repeat url("../../assets/img/rating-bg.png");
	padding-top: 25px;
	margin-bottom: 5px;
}

.b-rating__number {
	font-size: 70px;
	line-height: 1;
}

.b-rating__caption {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	margin-top: -11px;
}

.b-rating__title {
	font-size: 21px;
	line-height: 25px;
	//color: #2a3c6c;
	text-decoration: none;
	border-bottom: 1px solid @link-color;

	&:hover, &:active, &:focus {
		//color: #3e589f;
		text-decoration: none;
		border-bottom-color: @link-hover-color;
	}
}

.b-rating__text {
	margin-top: 12px;
	color: @text-muted;
}
