@import "variables.less";
@import "mixins";

.b-splash-slider {
	max-height: 100%;
	height: 100%;

	.slick-arrow {
		background: left top no-repeat url("../../assets/img/slick-arrow.png");
		width: 32px;
		height: 80px;
		z-index: 100;
		margin-top: -40px;

		&:before, &:after {
			display: none;
		}
	}
	.slick-prev {
		left: 40px;
		transform: none;
	}
	.slick-next {
		right: 40px;
		transform: rotate(180deg);
	}

	.slick-dots {
		bottom: 20px;

		li {
			width: 10px;
			height: 10px;
			margin: 0 3px;

			button {
				width: 10px;
				height: 10px;
				background: #ffffff;
				opacity: .33;
				border-radius: 50%;

				&:before {
					display: none;
				}
			}
		}

		.slick-active button {
			opacity: 1;
		}
	}
}

.b-splash-slider__item {
	position: relative;
}

.b-splash-slider__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-size: cover;
	background-position: center center;

	&:after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background: linear-gradient(to top, rgba(3, 10, 26, .75) 0%, rgba(20, 31, 51, .45) 20%, rgba(20, 31, 51, 0) 40%);
	}
}

.b-splash-slider__content {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .75);
	text-align: center;
	padding: 0 20px;
}

.b-splash-slider__title {
	font-size: 30px;
	font-weight: 600;
}

.b-splash-slider__text {
	font-size: 24px;
}

@media (max-width: @screen-xs-max) {
	.b-splash-slider__image {
		background-position: top+60px center;
	}
}

@media (max-width: @screen-sm-max) {
	.b-splash-slider {
		@media (orientation: landscape) {
			.slick-arrow {
				display: none !important;
			}
		}
	}
}

@media (max-width: @screen-md-max) {
	.b-splash-slider {
		.b-splash-slider__content {
			bottom: 50px;
		}
		.slick-prev {
			left: 20px;
		}

		.slick-next {
			right: 20px;
		}
	}

	.b-splash-slider__title {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.b-splash-slider__text {
		font-size: 16px;
	}
}
