@import "variables.less";
@import "mixins";

.b-footer {
	text-align: center;
	font-size: 11px;
	line-height: 12px;
	//color: #404040;
	background: linear-gradient(to left, #fafafa, #e0e0e0, #fafafa);
	padding: 20px 10px 13px;
	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;

	p {
		margin-bottom: 4px;
	}
}

@media (min-width: @screen-sm-min) {
	.b-footer {
		margin-left: -40px;
		margin-right: -40px;

		padding-left: 40px - @grid-gutter-width/2;
		padding-right: 40px - @grid-gutter-width/2;
	}
}
